/* -----------------------------------------------------------------------------

  Components - List

----------------------------------------------------------------------------- */

.c-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
  }

  li::after {
    display: inline-block;
    margin: 0 0.4rem 0 0.8rem;
    content: "\2022";
  }

  li:last-child::after {
    display: none;
  }
}
