/* -----------------------------------------------------------------------------

  Objects - Container

----------------------------------------------------------------------------- */

.o-container {
  margin: 0 auto;
  padding: 0 4rem;
  max-width: 72rem;
}
